<app-navbar [view]="['noLogin']" ></app-navbar>
<div class="overlay"></div>
<div class="container form-r">
    <div class="row justify-content-md-center">
        <div class="col-md-9">
            <div class="container bg-white card-registro">
                <div class="row">


                    <div class="col-md-12">


                        <div class="row justify-content-md-center">
                            <div class="col-md-12 text-center">
                                <img class="img-complete" src="assets/images/svg/complete.svg" alt="">
                            </div>
                            <div class="col-md-6">
                                <h2 class="text-center text-info-complete blue">¡Felicidades su cuenta 
                                    ahora esta activa!</h2>
                            </div>
                           <div class="col-md-12"></div>
                            <div class="col-md-6 btn-iniciar">
                                <a [routerLink]="['']" class="btn btn-primary btn-block"
                                >INICIAR SESION</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>