<div class="container" id="head">
    <div class="row">
        <div class="col-md-12">
            <div class="coverBorder">
                <div class="row">
                    <div class="col-md-3">
                        <div class="img-profile">
                            <img height="200px" class="circle-avatar rounded-circle" src="{{partner[0].data.attributes?.image}}"
                                alt="Mi perfil">
                        </div>

                    </div>
                    <div class="col-md-9">
                        <h2 class="img-title">{{partner[0].data.attributes?.name}}</h2>
                        <!-- <h2 class="img-sub-title">No Existe El Parametro - Pastor </h2> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

