.title-login{

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 40px;
    font-weight: 500!important;
    font-family: 'Montserrat', 'Segoe UI Light';
    letter-spacing: 8px;
}

.form-login{
    margin-top: 20%;
}